body {
  position: relative;
  background: rgb(238, 238, 238);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.main {
  font-family: 'Antonio', sans-serif;;
}
  header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  header input {
    width: 280px;
    height: 30px;
    padding: 10px 15px;
    left: 80px;
    top: 164px;
    box-shadow: -2px -2px 5px rgba(255, 255, 255, 0.5), 2px 2px 5px rgba(170, 170, 204, 0.25), 5px 5px 10px rgba(170, 170, 204, 0.5), -5px -5px 10px rgba(170, 170, 204, 0.5);
    border-radius: 32px;
    background: #F5F5FA;
    color: #7878AB;
    font-weight: bold;
    outline: white;
    border: white;
    color: black;
    font-size: 20px;
    font-weight: 300; 
    text-align: center;
    transition: 0.2s ease-out;
  }
  header input:hover {
    box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.5), 5px 5px 10px rgba(170, 170, 204, 0.25), 10px 10px 20px rgba(170, 170, 204, 0.5), -10px -10px 20px rgba(170, 170, 204, 0.5);
  }
  header input:focus {
    background-color: rgba(255, 255, 255, 0.6);
  }
  .button {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 10%;
  }
  button {
    width: 100px;
    height: 30px;
    left: 80px;
    top: 164px;
    box-shadow: -2px -2px 5px rgba(255, 255, 255, 0.5), 2px 2px 5px rgba(170, 170, 204, 0.25), 5px 5px 10px rgba(170, 170, 204, 0.5), -5px -5px 10px rgba(170, 170, 204, 0.5);
    border-radius: 32px;
    background: #F5F5FA;
    color: #7878AB;
    font-weight: bold;
    outline: white;
    border: white;
  }
  button:hover {
    box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.5), 5px 5px 10px rgba(170, 170, 204, 0.25), 10px 10px 20px rgba(170, 170, 204, 0.5), -10px -10px 20px rgba(170, 170, 204, 0.5);
  }
  .location {
    display: flex;
    width:100%;
    padding:10%;
    justify-content: flex-start;
    flex-direction: column;
  }
  .output {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .location .city {
    color:whitesmoke;
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 5px;
    justify-content: flex-start;
  }
  
  .location .date {
    color: whitesmoke;
    font-size: 16px;
  }
  
  .current .temp {
    color: whitesmoke;
    font-size: 102px;
    font-weight: 900;
    margin: 30px 0px;
    text-shadow: 2px 2px rgb(196, 196, 196);
  }
  
  .current .temp span {
    font-weight: 500;
  }
  
  .current .weather {
    color: whitesmoke;
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 3px;
    font-style: italic;
    margin-bottom: 15px;
    text-shadow: 2px 2px rgb(196, 196, 196);
  }
  
  .current .hi-low {
    color: whitesmoke;
    font-size: 24px;
    font-weight: 500;
    text-shadow: 2px 2px rgb(196, 196, 196);
  }
  .toggle {
    display: flex;
    justify-content: flex-end;
    width: 300px;
    padding-top:10%;
  
  }

  /* toggle */
.theme-light {
  --color-secondary: linear-gradient(90deg, #00D2FF 0%, #61e2ffd5 100%);
}
.theme-dark {
  --color-secondary: linear-gradient(90deg, #515772 0%, #292E49 100%);;
}
.container {
  width: 375.29px;
  height: min-content;
  background: var(--color-secondary);
  border-radius: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
}


.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #5ce4ec;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 40px;
  width: 40px;
  left: 0px;
  bottom: 4px;
  top: 0;
  bottom: 0;
  margin: auto 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  box-shadow: 0 0px 15px #2020203d;
  background: white url('https://i.ibb.co/FxzBYR9/night.png');
  background-repeat: no-repeat;
  background-position: center;
}

input:checked + .slider {
  background-color: #ccc;
}

input:focus + .slider {
  box-shadow: 0 0 1px #5ce4ec;
}

input:checked + .slider:before {
  -webkit-transform: translateX(24px);
  -ms-transform: translateX(24px);
  transform: translateX(24px);
  background: white url('https://i.ibb.co/7JfqXxB/sunny.png');
  background-repeat: no-repeat;
  background-position: center;
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}